def menu():
    global opcao_menu
    print("\nQuantas árvores cada pessoa precisa plantar por ano de acordo com a sua emissão de CO2")
    print('''
            MENU:
            
            [1] - Cálculo Diário
            [2] - Cálculo Semanal
            [3] - Cálculo Mensal
            [4] - Cálculo Anual
            [5] - Sair
            ''')
    opcao_menu = int(input("Escolha uma opção: "))

def perguntaTransporte():
    global transporte
    print(f"Qual tipo de transporte que você utiliza para se locomover?\nUse {CRED} 1 = Carro{CEND}, {CGREEN}2 = Ônibus{CEND}:")
    transporte = int(input())

def perguntaCombustivel():
    global tipo_combustivel
    print(f"\nQual o tipo de combustível que o automóvel usa?\nUse {CRED}1 = Diesel{CEND}, {CGREEN}2 = Gasolina{CEND}: ")
    tipo_combustivel = int(input())

def calculoDeEmissao(transporte, litro, data):

    #Carro Diesel
    if transporte == 1 and tipo_combustivel == 1:    
        quant_pessoas = int(input("Quantas pessoas estavam no carro? "))
        carro_diesel = litro * 0.83 * 3.7

        print("\nSua emissão é de %.2fKg CO2 por %s" 
              "\n"
              "Você precisará plantar: %d árvores na Mata Atlântica e %d árvores na Amazônia" 
              % (carro_diesel, data, carro_diesel/130, carro_diesel/222))
    
    #Carro Gasolina
    elif transporte == 1 and tipo_combustivel == 2:
        quant_pessoas = int(input("Quantas pessoas estavam no carro? "))
        carro_gasolina = litro * 0.82 * 0.75 * 3.7

        print("\nSua emissão é de %.2fKg CO2 por %s"
              "\n"
              "Você precisará plantar: %d árvores na Mata Atlântica e %d árvores na Amazônia" 
              % (carro_gasolina, data, carro_gasolina/130, carro_gasolina/222))
      
    #Ônibus Diesel
    elif transporte == 2 and tipo_combustivel == 1:    
        quant_pessoas = int(input("Quantas pessoas estavam no ônibus?: "))   
        onibus_diesel = litro * 0.83 * 3.7 / quant_pessoas

        print("\nSua emissão é de %.2fKg CO2 por %s"
              "\n"
              "Você precisará plantar: %d árvores na Mata Atlântica e %d árvores na Amazônia" 
              % (onibus_diesel, data, onibus_diesel/130, onibus_diesel/222))
        
    #Ônibus Gasolina
    elif transporte == 2 and tipo_combustivel == 2:      
        quant_pessoas = int (input("Quantas pessoas estavam no ônibus?: \n"))   
        onibus_gasolina = litro * 0.82 * 0.75 * 3.7 / quant_pessoas

        print("\nSua emissão é de %.2fKg CO2 por %s"
              "\n"
              "Você precisará plantar: %d árvores na Mata Atlântica e %d árvores na Amazônia" 
              % (onibus_gasolina, data, onibus_gasolina/130, onibus_gasolina/222))

#Função que chama basicamente todas as contas conforme for necessario
def chamadas():
    global litro_diario
    global litro_semanal
    global litro_mensal
    global litro_anual

    perguntaTransporte()

    while (transporte > 2) or (transporte < 1):

        print(f"\n Opção inválida!\n {CRED}TENTE NOVAMENTE!{CEND}\n")
        perguntaTransporte()

    #Perguntar e salvar o tamanho do trajeto
    print(f"\nQual a distância do trajeto em Km?:")
    distancia = int(input())


    perguntaCombustivel()

    while (tipo_combustivel > 2) or (tipo_combustivel < 1):

        print(f"\n Código de combustível inválido!\n {CRED}TENTE NOVAMENTE!{CEND}\n")
        perguntaCombustivel()


    taxa_consumo = int(input("Taxa de consumo do combustível em Km/L: "))
    litro_diario = distancia / taxa_consumo
    litro_semanal = litro_diario * 5
    litro_mensal = litro_diario * 22
    litro_anual = litro_semanal * 53
    #litro_passageiro = litro_anual / quant_pessoas


#variaveis Globais
CRED = '\033[1;31m'
CGREEN = '\033[1;32m'
CEND = '\033[0m'
opcao_menu = int
transporte = int
tipo_combustivel = int
litro_diario = int
litro_semanal = int
litro_mensal = int
litro_anual = int

#Iniciando o menu, consequentemente, todo codigo
menu()

#Repetição que chama todas as funções e mantém o menu ativo até a pessoa desejar sair
while (True):
    
    if opcao_menu == 1:
        chamadas()
        calculoDeEmissao(transporte, litro_diario, "dia")
        menu()

    elif opcao_menu == 2:
        chamadas()
        calculoDeEmissao(transporte, litro_semanal, "semana")
        menu()


    elif opcao_menu == 3:
        chamadas()
        calculoDeEmissao(transporte, litro_mensal, "mês")
        menu()


    elif opcao_menu == 4:
        chamadas()
        calculoDeEmissao(transporte, litro_anual, "ano")
        menu()

    elif opcao_menu == 5:
        print("Obrigado!!")
        break

    else:
        print(f"{CRED}Opção Inválida{CEND}, tente novamente")
        menu()
